@import "tailwindcss";

@theme {
  --color-primary: #f493ae;
  --color-primary-text: #f15d87;
  --color-primary-foreground: #eb7495;
  --color-secondary: #fffbd6;
  --color-tertiary: #3198c2;
  --color-quaternary: #a8cf45;
  --color-quaternary-foreground: #82ae10;
  --color-quinary: #a45e4d;
  --color-sextary: #facb96;
}
